<!-- <h1>HTTP GET REQUEST</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">TITLE</th>
      <th scope="col">DATE</th>
      <th scope="col">BUNTING</th>
      <th scope="col">NOTES</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let a of England.events | paginate: {itemsPerPage:4,currentPage:p,totalItems:total };">
      <th scope="row">{{a.title}}</th>
      <td>{{a.date}}</td>
      <td>{{a.bunting}}</td>
      <td>{{a.notes}}</td>
    </tr>
    
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<br>
<hr> -->



<!-- <h1 style="background-color: red;">HTTP GET REQUEST 2nd</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">TITLE</th>
      <th scope="col">DATE</th>
      <th scope="col">BUNTING</th>
      <th scope="col">NOTES</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let a of scotland.events | paginate: {itemsPerPage:10,currentPage:p,totalItems:total2 };">
      <th scope="row">{{a.title}}</th>
      <td>{{a.date}}</td>
      <td>{{a.bunting}}</td>
      <td>{{a.notes}}</td>
    </tr>
    
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<hr><br>
<app-form></app-form> -->

<app-todo></app-todo>